<!DOCTYPE html>
{% load staticfiles %}
<html lang="ch">
<head>
    <meta charset="UTF-8">
    <title>电影下载</title>
    <link href="{% static 'css/index.css' %}" rel="stylesheet">
    <link href="{% static 'css/movie_detail.css' %}" rel="stylesheet">
    <link href="{% static 'css/movie_base.css' %}" rel="stylesheet">
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
</head>
<header>
    <div class="logo" data-scroll-reveal="enter right over 1s"><a href="/">DownloaderMovie</a></div>
    <nav class="topnav" data-scroll-reveal="enter bottom over 1s after 1s">
    <a href="index.html"><span>最新电影</span><span class="en">new</span></a>
    <a href="china.html"><span>国内电影</span><span class="en">china</span></a>
    <a href="japan.html"><span>日韩电影</span><span class="en">Japan</span></a>
    <a href="america.html"><span>欧美电影</span><span class="en">America</span></a>
</nav>
</header>
<body>
<div class="container">
    <div class="moviedetail">
        <div class="title_all"><h1><font color=#07519a>{{movie.movie_name}}</font></h1></div>
        <div class="content">
            <img border="0" src="{{image1}}"><br>
            <p>{{movie.movie_abstract}}</p>
            <img border="0" src="{{image2}}"><br>
            <strong><font color="#ff0000"><font size="4">【下载地址】</font></font></strong>
            <br>
            <br>
            <p>{{movie.movie_download}}</p>
            <br><br><br>
            <p>复制链接打开迅雷下载</p>
        </div>
    </div>
</div>
<footer>
    <a href="http://www.miitbeian.gov.cn"><font color="000">浙ICP备17051134号-1</font></a>
</footer>
<script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>