<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>黄海峰的个人博客 - 许我向你看</title>
    <!--<link href="../css/base.css" rel="stylesheet">-->
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
    <link href="{% static 'css/index.css' %}" rel="stylesheet">
    <link href="{% static 'css/m.css' %}" rel="stylesheet">
    <link href="{% static 'css/about.css' %}" rel="stylesheet">
    <script src="{% static 'js/scrollReveal.js' %}"></script>
     <script src="{% static 'js/lizi.js' %}"></script>
    <!--[if lt IE 9]>
    <script src="{% static 'js/modernizr.js' %}"></script>
    <![endif]-->
	<link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<script type="text/javascript">
    window.onload = function(){
			var config = {
				vx: 4,
				vy:  4,
				height: 2,
				width: 2,
				count: 250,
				color: "999, 162, 185",
				stroke: "999,200,180",
				dist: 6000,
				e_dist: 20000,
				max_conn: 10
			}
			CanvasParticle(config);
		}
</script>
<header>
    <div class="logo" data-scroll-reveal="enter right over 1s"><a href="../index">黄海峰的个人博客</a></div>
    <nav class="topnav" data-scroll-reveal="enter bottom over 1s after 1s">
        <a href="../index.html"><span>首页</span><span class="en">Home</span></a>
        <a href="about.html"><span>关于我</span><span class="en">About</span></a>
        <a href="manshenghuo.html"><span>慢生活</span><span class="en">Life</span></a>
        <a href="learn.html"><span>碎言碎语</span><span class="en">Doing</span></a>
        <a href="learn.html"><span>学无止境</span><span class="en">Learn</span></a>
    </nav>
</header>
<article>
    <div class="container">

        <div class="about left">

            <ul>
                <h4 class="atitle"><span>{{article.pub_time|date:"Y-M-D"}}</span>{{article.title}}</h4>
                <p><img src="{{article.image_url}}">&nbsp;</p>
                {% autoescape off %}
                {{article.content}}
                {% endautoescape %}
                <p>&nbsp;</p>
            </ul>
            <div class="nextinfo">
                <p><a href="{{article.id|add:-1}}">上一篇</a></p>
                <p><a href="{{article.id|add:1}}">下一篇</a></p>
            </div>
        </div>
    </div>
</article>
<footer> Design by DanceSmile <a href="http://www.huanghaifeng.top/">蜀ICP备11002373号-1</a></footer>
<script>
	if (!(/msie [6|7|8|9]/i.test(navigator.userAgent))){
		(function(){
			window.scrollReveal = new scrollReveal({reset: true});
		})();
	};
</script>
<script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>